.container {
    
    
    display: flex;
    justify-content: space-around; 
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap; 
    background-color: rgb(255, 255, 255);
    margin: 5px;

}



.card{
    
   border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 20px;
    display: inline-block;
    margin: 5px;
    /* 
    display: flex;
    align-items: stretch;
*/
}

.regvlarCard{
    display: flex;  /* flexbox - перевод дочерних элементов в колонки (в одну строку)  */
    justify-content: space-around; /* выравниванте по горизонту:  */
    align-items: center;                  /* выравнивонье по верникали:*/
    flex-direction: row;            /* расположение блоков по:display: */
    flex-wrap: wrap;              /* многострочность */
    position: relative;
    width: 80vw;
    /*height: 200px;*/
    left: 0px;
    top: 0px;
    padding: 5%;
    
    
    background: linear-gradient(90deg, #CFF37D 20%, #00f821 100%);
    border-radius: 20px;
}



.cardRed{
    display: flex;  /* flexbox - перевод дочерних элементов в колонки (в одну строку)  */
    justify-content: space-around; /* выравниванте по горизонту:  */
    align-items: center;                  /* выравнивонье по верникали:*/
    flex-direction: row;            /* расположение блоков по:display: */
    flex-wrap: wrap;              /* многострочность */
    position: relative;
    width: 80vw;
    /*height: 200px;*/
    left: 0px;
    top: 0px;
    padding: 5%;
    

    background: linear-gradient(90deg, #f37d7dd3 20%, #ff0202 100%);
    border-radius: 20px;
}